.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1c1c1c;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.shippingText {
  text-align: center;
  font-size: 12px;
  color: #a8a8a8;
  margin-bottom: 5px;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  position: relative;
}

.navbarMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin-right: 15px;
  cursor: pointer;
  color: #d0a8ff;
  position: relative;
}

.navbarLogo {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hamburgerIcon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.navbarIcons {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-right: 30px;
}

.navbarIcons span {
  margin-left: 15px;
  cursor: pointer;
}

/* Dropdown Styles */
.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;
}

.navbarItem:hover .dropdownMenu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: opacity 1s ease, transform 1s ease, visibility 1s;
}

.dropdownSection {
  margin-right: 40px;
  width: 20%;
  padding-left: 20px;
}

.dropdownSection h3 {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.dropdownSection p {
  font-size: 14px;
  color: #d0a8ff;
  margin: 5px 0;
  cursor: pointer;
}

.dropdownImages {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 50%;
  margin-right: 80px;
}

.dropdownImages img {
  width: 250px;
  height: 300px;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .hamburgerIcon {
    display: block;
  }

  .navbarContent {
    justify-content: space-between;
  }

  .navbarLogo {
    position: static;
    transform: none;
    margin: 0 auto;
  }

  .navbarMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #1c1c1c;
    padding: 10px;
    box-sizing: border-box;
  }

  .navbarMenu.open {
    display: flex;
  }

  .navbarItem {
    margin: 10px 0;
    text-align: left;
    padding-left: 20px;
  }

  .navbarIcons {
    display: none;
  }

  .dropdownMenu {
    display: none !important;
  }

  .dropdownImages {
    justify-content: flex-start;
  }

  .dropdownImages img {
    width: 70px;
  }
}

@media screen and (max-width: 480px) {
  .navbarLogo {
    font-size: 20px;
  }

  .navbarItem {
    font-size: 14px;
  }

  .shippingText {
    font-size: 10px;
  }
}
