/* Navbar.module.css */

/* General Styles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:#ffffff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* border: 1px solid rgb(198, 195, 195); */
  overflow: visible; /* Ensure dropdown is not hidden */
}

.shippingText {
  text-align: center;
  font-size: 14px;
  color: #000000;
  margin-bottom: 5px;
  background-color: #e9e8e8;
  width: 100%;
  margin-top: -10px;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: relative;
}

.navbarMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  color: #000000;
  /* background-color: aqua; */
  /* height: 50px; */
  align-items: center;
  padding: 5px;
}

.navbarItem a {
  text-decoration: none;
  color: inherit;
}

.navbarLogo {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.hamburgerIcon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.navbarIcons {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-right: 30px;
}

.navbarIcons span {
  margin-left: 15px;
  cursor: pointer;
}

/* Dropdown Menu Styles */
.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  /* width: 100%; */
  background-color: #ffffff;
  display: none; /* Hidden by default */
  flex-direction: row;
  padding: 10px;
  margin-left: -20px;
  z-index: 1;
  border-top: 1px solid rgb(198, 195, 195);
}

.navbarItem:hover .dropdownMenu {
  display: flex; /* Show dropdown on hover */
}

/* Dropdown Section Adjustments */
.dropdownSection {
  margin-right: 40px;
  width: 220px;
  /* background-color: aqua;   */
}

.dropdownImages {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 50%;
}

.dropdownImages img {
  width: 250px;
  height: 300px;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .hamburgerIcon {
    display: block;
  }

  .navbarMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #e4e0e0;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px;
  }

  .navbarMenu.open {
    display: flex;
  }

  .navbarItem {
    /* margin: 10px 0; */
    padding-left: 20px;
  }

  .navbarIcons {
    display: none;
  }

  .dropdownMenu {
    display: none;
  }

  .navbarItem:hover .dropdownMenu {
    display: none;
  }

  .dropdownTrigger.open .dropdownMenu {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .navbarLogo {
    font-size: 25px;
    letter-spacing: 3px;
  }

  .navbarItem {
    font-size: 14px;
  }

  .shippingText {
    font-size: 10px;
  }
}
