/* App.css */
body{
  overflow-x: hidden;
  color: black;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather';
  color: black;

}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-detail {
    padding: 40px;
  }
  
 
  .heading3{
    color: black !important;
  }

/* App.css */
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-detail {
  padding: 40px;
}

.detail-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.pg404{
  font-size: 30rem;
}
.dropdown-section h3{
  color: black;

}